[user]
	name = xiaolai
	email = lixiaolai@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/xiaolai/.gitignore_global
	editor = mate
